@import "/XGUI/DefaultStyles/OliveGreen.scss";
.mainarea {
    .menubuttonlist {
        .button {
            width: 98px;
        }

        .info {
            margin-left: 3px;
            margin-top: 1px;
        }
    }

    .bottom {
        flex-direction: row;

        .closebutton {
            top: 11px;
            position: absolute;
            right: 0px;
            width: 90px;
        }

        .logo {
            top: 11px;
            height: 32px;
            width: 80px;
            margin-right:23px;
            background-size: contain;
            &.steam {
                top:13px;
            }
        }
    }
}