@using Sandbox;
@using Sandbox.UI;
@using XGUI;
@attribute [StyleSheet( "/XGUI/DefaultStyles/Vapour.scss" )]
@inherits Window
 
<root title="Steam 2 BETA network system (TM) v1.10.2" hasminimise="true" hasmaximise="true"> 
	<tabcontrol>
		<tab tabName="general" slot="tab" tabtext="BEtA">
			<div style="width:400px;height:200px;">
				<label>Beta how real seleciton (range from fake, super real, mega real)</label>
				<sliderscaleentry min=1 max=10 mintext="fake beta :(" maxtext="realest beta" step=1>

				</sliderscaleentry> 
				<check>Steam 2 + COUNTER STRIKE: SOURCE: 2</check> 
				<check>phalflife 3 (opotional)</check> 
				<button>DOWNLOAD!!!</button> 
				<div class="info"> </div>
				<check>beta police tracking prevention (encryptded downlaod)</check>
				hello  this is from valve software do not SHARE sincerely gabe N
			</div>
		</tab>
		<tab tabName="video" slot="tab" tabtext="beta">
			<div style="width:400px;height:200px;">
				<button>DOWNLOAD!!!</button>
				<check>beta police tracking prevention (encryptded downlaod)</check>
			</div>
		</tab>
			<tab tabName="audio" slot="tab" tabtext="beta">
			<div style="width:400px;height:800px;">

			</div>
		</tab>
	</tabcontrol>
</root>

