@using Sandbox;
@using Sandbox.UI;
@using XGUI;
@attribute [StyleSheet( "/XGUI/DefaultStyles/Computer95.scss" )]
@inherits Window

<root title="Main Menu" hasminimise="true" hasmaximise="true">
	<div style="background-size:cover; background-image: url(XGUI/Resources/boomerbait.png); width: 512px; height:341px;">

	</div>
</root>

