@using Sandbox;
@using Sandbox.UI;
@attribute [StyleSheet( "/simple.scss" )]
<div style="background-color:white;">
	
    <tabcontrol>
		<tab tabName="general" slot="tab" tabtext="General">
				
			<div style="width:300px;height:200px;">
				<button>bee</button>
			</div>
		</tab>
		<tab tabName="general" slot="tab" tabtext="aud">
			<div style="width:300px;height:200px;">
				<button>bee</button>
			</div>
		</tab>
	</tabcontrol>
</div>