@using Sandbox;
@using Sandbox.UI;
@using XGUI;
@attribute [StyleSheet( "/XGUI/DefaultStyles/OliveGreen.scss" )]
@inherits Window

<root title="Panel List" style="width:500px; height:500px;">
	Buttons to open all the panels available.
	@foreach ( var i in TypeLibrary.GetTypes<Window>() )
	{
		<button @onclick=@( () => ConsoleSystem.Run("openpanel", i.Name))>@i.Name</button>
	}
</root>

